---
import DefaultLayout from "../layouts/DefaultLayout.astro";
// import { Button } from "../components/Button";
// se renderiza en el momento del compilado
export const prerender = true;
// export const prerender = false  que se compile en el servidor en cada peticion
---

<DefaultLayout>
  <meta slot="header" charset="utf-8" />
  <link slot="header" rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta slot="header" name="viewport" content="width=device-width" />
  <meta slot="header" name="generator" content={Astro.generator} />
  <title slot="header">My Astro ABOUT</title>
  <h1 class="text-center text-3xl font-bold mb-6 mt-3">Mis posts ABOUT</h1>
  <!-- <Button client:visible /> -->

  <div class="container bg-gray-500 p-12 mx-auto flex flex-wrap">
    <!-- <div class="bg-gray-800 h-96 m-6 p-12"> -->
    <div class="bg-gray-800 m-6 p-12 border-red-500 border-4 rounded-xl">
      <h1 class="text-6x1 text-white text-center">Hello world!</h1>
    </div>
    <!-- <div class="bg-gray-800 h-96 m-6 p-12"> -->
    <div class="bg-gray-800 m-6 p-12 border-red-500 border-4 rounded-xl">
      <h2 class="text-6x1 text-white text-center">Hello world!</h2>
    </div>
    <!-- <div class="bg-gray-800 h-96 m-6 p-12"> -->
    <div class="bg-gray-800 m-6 p-12 border-red-500 border-4 rounded-xl">
      <h2 class="text-6x1 text-white text-center">Hello world!</h2>
    </div>
  </div>
  <br />
  <!-- GRID -->
  <div class="container bg-gray-500 p-12 mx-auto grid grid-rows-1">
    <!-- <div class="bg-gray-800 h-96 m-6 p-12"> -->
    <div class="bg-gray-800 m-6 p-12 border-red-500 border-4 rounded-xl">
      <h2 class="text-6x1 text-white text-center">Hello world!</h2>
    </div>
    <!-- <div class="bg-gray-800 h-96 m-6 p-12"> -->
    <div class="bg-gray-800 m-6 p-12 border-red-500 border-4 rounded-xl">
      <h2 class="text-6x1 text-white text-center">Hello world!</h2>
    </div>
    <!-- <div class="bg-gray-800 h-96 m-6 p-12"> -->
    <div class="bg-gray-800 m-6 p-12 border-red-500 border-4 rounded-xl">
      <h2 class="text-6x1 text-white text-center">Hello world!</h2>
    </div>
    <br />
  </div>
</DefaultLayout>
