---
import Post from "../components/Post.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <!-- Pasamos props al componente -->
    <!-- Unas llaves para javascript componente astro y otras para objeto -->
    <Post
      post={{
        title: "My super coool title",
        description: "My super cool description",
      }}
    />
    <Post
      post={{
        title: "My super coool title 2",
        description: "My super cool description 2",
      }}
    />
    <Post
      post={{
        title: "My super coool title 3",
        description: "My super cool description 3",
      }}
    />
    <Post
      post={{
        title: "My super coool title 4",
        description: "My super cool description 4",
      }}
    />
    <Post />
  </body>
</html>
